# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
env/
venv/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Pytest
.cache
pytest_cache/

# Local configuration files
*.local
*.env
.env.local
.env.*.local
